FILE_TTL_SECONDS=14400
TEMP_STORAGE_DIR=/data/jobs
PROCESS_CONCURRENCY=2
SHARP_CONCURRENCY=2
MAX_UPLOAD_BYTES=104857600
MAX_BATCH_BYTES=524288000
MAX_BATCH_FILES=50
MAX_IMAGE_PIXELS=100000000
MAX_ANIMATION_FRAMES=500
PROCESS_TIMEOUT_MS=60000
MIN_FREE_DISK_BYTES=1073741824
PUBLIC_GA_MEASUREMENT_ID=
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_BING_SITE_VERIFICATION=
PUBLIC_UMAMI_WEBSITE_ID=
PUBLIC_UMAMI_SCRIPT_URL=

